# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# =========================
# Virtual environment
# =========================
venv/
env/
.venv/
ENV/

# =========================
# SQLite databases
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# JSON / runtime data (если это генерируется программой)
# =========================
storage/
*.json

# =========================
# Logs
# =========================
*.log

# =========================
# PyCharm / IntelliJ
# =========================
.idea/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# PyInstaller / build
# =========================
build/
dist/
*.spec

# =========================
# Qt / UI cache (если появится)
# =========================
*.qmlc
*.jsc